<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Cari Pokemon Favorit</title>
    <style>
    body {
        background-color: white;;
       }
    </style>
</head>
<body>
    <center><br>
        <br>
        <br><br>
        <img src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png">
    <h1>Masukkan Nama Pokemon Favorit Kamu</h1>
    <hr>
    <form method='POST' action='http://localhost:5000/hasil'>
        <input type='text' name='pokemon' placeholder="Pokemon favoritku"/>
        <input type='submit' value='Cari Pokemon'/>
    </form>
    </center>
</body>
</html>